--
-- PostgreSQL database dump
--

\restrict 6iKs0Wn0Z5rx3agWQ9asfKqwNRbU2oHgwSNwxkEijokULhoJ7b6ZfdIeDh5xJyF

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ai_policy_enum; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public.ai_policy_enum AS ENUM (
    'none',
    'assistive',
    'open'
);


ALTER TYPE public.ai_policy_enum OWNER TO myuser;

--
-- Name: chat_role_enum; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public.chat_role_enum AS ENUM (
    'user',
    'assistant'
);


ALTER TYPE public.chat_role_enum OWNER TO myuser;

--
-- Name: study_level_enum; Type: TYPE; Schema: public; Owner: myuser
--

CREATE TYPE public.study_level_enum AS ENUM (
    'undergraduate',
    'postgraduate'
);


ALTER TYPE public.study_level_enum OWNER TO myuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignment_reviews; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.assignment_reviews (
    review_id integer NOT NULL,
    username character varying(50) NOT NULL,
    brief_id integer NOT NULL,
    submitted_text text NOT NULL,
    ai_feedback text NOT NULL,
    strengths text,
    weaknesses text,
    suggested_improvements text,
    final_grade numeric(5,2) NOT NULL,
    grade_label character varying(10),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.assignment_reviews OWNER TO myuser;

--
-- Name: assignment_reviews_review_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.assignment_reviews_review_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignment_reviews_review_id_seq OWNER TO myuser;

--
-- Name: assignment_reviews_review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.assignment_reviews_review_id_seq OWNED BY public.assignment_reviews.review_id;


--
-- Name: briefs; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.briefs (
    brief_id integer NOT NULL,
    username character varying(50),
    module character varying(100) NOT NULL,
    study_level public.study_level_enum DEFAULT 'undergraduate'::public.study_level_enum NOT NULL,
    module_leader character varying(100),
    weighting numeric(5,2),
    word_limit integer,
    assignment_no integer NOT NULL,
    description text,
    ai_policy public.ai_policy_enum DEFAULT 'assistive'::public.ai_policy_enum NOT NULL,
    referencing_style character varying(50),
    external_component_label character varying(100),
    external_component_weight numeric(5,2),
    start_date date,
    due_date date NOT NULL,
    feedback_date date,
    resit_date date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    brief_file_path text,
    brief_summary text,
    ai_policy_details text,
    assignment_type character varying(100),
    is_group_work boolean,
    is_exam boolean,
    is_resit boolean DEFAULT false
);


ALTER TABLE public.briefs OWNER TO myuser;

--
-- Name: briefs_brief_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.briefs_brief_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.briefs_brief_id_seq OWNER TO myuser;

--
-- Name: briefs_brief_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.briefs_brief_id_seq OWNED BY public.briefs.brief_id;


--
-- Name: calendar_entries; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.calendar_entries (
    entry_id integer NOT NULL,
    plan_id integer NOT NULL,
    work_date date NOT NULL,
    task_description text,
    target_percent_complete integer NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_target_percent CHECK (((target_percent_complete >= 0) AND (target_percent_complete <= 100)))
);


ALTER TABLE public.calendar_entries OWNER TO myuser;

--
-- Name: calendar_entries_entry_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.calendar_entries_entry_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.calendar_entries_entry_id_seq OWNER TO myuser;

--
-- Name: calendar_entries_entry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.calendar_entries_entry_id_seq OWNED BY public.calendar_entries.entry_id;


--
-- Name: calendar_plans; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.calendar_plans (
    plan_id integer NOT NULL,
    username character varying(50),
    brief_id integer,
    review_id integer,
    plan_summary text,
    alert_threshold integer DEFAULT 20 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.calendar_plans OWNER TO myuser;

--
-- Name: calendar_plans_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.calendar_plans_plan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.calendar_plans_plan_id_seq OWNER TO myuser;

--
-- Name: calendar_plans_plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.calendar_plans_plan_id_seq OWNED BY public.calendar_plans.plan_id;


--
-- Name: calendar_progress; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.calendar_progress (
    progress_id integer NOT NULL,
    entry_id integer NOT NULL,
    username character varying(50),
    actual_percent_complete integer NOT NULL,
    student_notes text,
    alert_triggered smallint DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_actual_percent CHECK (((actual_percent_complete >= 0) AND (actual_percent_complete <= 100)))
);


ALTER TABLE public.calendar_progress OWNER TO myuser;

--
-- Name: calendar_progress_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.calendar_progress_progress_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.calendar_progress_progress_id_seq OWNER TO myuser;

--
-- Name: calendar_progress_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.calendar_progress_progress_id_seq OWNED BY public.calendar_progress.progress_id;


--
-- Name: criteria_grade_bands; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.criteria_grade_bands (
    band_id integer NOT NULL,
    criteria_id integer,
    label character varying(50) NOT NULL,
    band_min numeric(5,2) NOT NULL,
    band_max numeric(5,2) NOT NULL,
    description text
);


ALTER TABLE public.criteria_grade_bands OWNER TO myuser;

--
-- Name: criteria_grade_bands_band_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.criteria_grade_bands_band_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.criteria_grade_bands_band_id_seq OWNER TO myuser;

--
-- Name: criteria_grade_bands_band_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.criteria_grade_bands_band_id_seq OWNED BY public.criteria_grade_bands.band_id;


--
-- Name: marking_criteria; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.marking_criteria (
    criteria_id integer NOT NULL,
    brief_id integer,
    criteria_name character varying(100) NOT NULL,
    is_standard smallint DEFAULT 0 NOT NULL,
    criteria_description text,
    weight numeric(5,2) NOT NULL,
    score_min numeric(5,2) NOT NULL,
    score_max numeric(5,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.marking_criteria OWNER TO myuser;

--
-- Name: marking_criteria_criteria_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.marking_criteria_criteria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.marking_criteria_criteria_id_seq OWNER TO myuser;

--
-- Name: marking_criteria_criteria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.marking_criteria_criteria_id_seq OWNED BY public.marking_criteria.criteria_id;


--
-- Name: review_criteria; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.review_criteria (
    score_id integer NOT NULL,
    review_id integer,
    criteria_id integer,
    score_awarded numeric(5,2) NOT NULL,
    ai_justification text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.review_criteria OWNER TO myuser;

--
-- Name: review_criteria_score_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.review_criteria_score_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.review_criteria_score_id_seq OWNER TO myuser;

--
-- Name: review_criteria_score_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.review_criteria_score_id_seq OWNED BY public.review_criteria.score_id;


--
-- Name: saved_chats; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.saved_chats (
    chat_id integer NOT NULL,
    username character varying(50),
    bot_id character varying(30) NOT NULL,
    conversation_id integer NOT NULL,
    role public.chat_role_enum NOT NULL,
    message text NOT NULL,
    message_order integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.saved_chats OWNER TO myuser;

--
-- Name: saved_chats_chat_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.saved_chats_chat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.saved_chats_chat_id_seq OWNER TO myuser;

--
-- Name: saved_chats_chat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.saved_chats_chat_id_seq OWNED BY public.saved_chats.chat_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.users (
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    dob date NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO myuser;

--
-- Name: assignment_reviews review_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.assignment_reviews ALTER COLUMN review_id SET DEFAULT nextval('public.assignment_reviews_review_id_seq'::regclass);


--
-- Name: briefs brief_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.briefs ALTER COLUMN brief_id SET DEFAULT nextval('public.briefs_brief_id_seq'::regclass);


--
-- Name: calendar_entries entry_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_entries ALTER COLUMN entry_id SET DEFAULT nextval('public.calendar_entries_entry_id_seq'::regclass);


--
-- Name: calendar_plans plan_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_plans ALTER COLUMN plan_id SET DEFAULT nextval('public.calendar_plans_plan_id_seq'::regclass);


--
-- Name: calendar_progress progress_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_progress ALTER COLUMN progress_id SET DEFAULT nextval('public.calendar_progress_progress_id_seq'::regclass);


--
-- Name: criteria_grade_bands band_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.criteria_grade_bands ALTER COLUMN band_id SET DEFAULT nextval('public.criteria_grade_bands_band_id_seq'::regclass);


--
-- Name: marking_criteria criteria_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.marking_criteria ALTER COLUMN criteria_id SET DEFAULT nextval('public.marking_criteria_criteria_id_seq'::regclass);


--
-- Name: review_criteria score_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.review_criteria ALTER COLUMN score_id SET DEFAULT nextval('public.review_criteria_score_id_seq'::regclass);


--
-- Name: saved_chats chat_id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.saved_chats ALTER COLUMN chat_id SET DEFAULT nextval('public.saved_chats_chat_id_seq'::regclass);


--
-- Data for Name: assignment_reviews; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.assignment_reviews (review_id, username, brief_id, submitted_text, ai_feedback, strengths, weaknesses, suggested_improvements, final_grade, grade_label, created_at) FROM stdin;
\.


--
-- Data for Name: briefs; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: calendar_entries; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.calendar_entries (entry_id, plan_id, work_date, task_description, target_percent_complete, notes, created_at) FROM stdin;
\.


--
-- Data for Name: calendar_plans; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.calendar_plans (plan_id, username, brief_id, review_id, plan_summary, alert_threshold, created_at) FROM stdin;
\.


--
-- Data for Name: calendar_progress; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.calendar_progress (progress_id, entry_id, username, actual_percent_complete, student_notes, alert_triggered, created_at) FROM stdin;
\.


--
-- Data for Name: criteria_grade_bands; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.criteria_grade_bands (band_id, criteria_id, label, band_min, band_max, description) FROM stdin;
\.


--
-- Data for Name: marking_criteria; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: review_criteria; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.review_criteria (score_id, review_id, criteria_id, score_awarded, ai_justification, created_at) FROM stdin;
\.


--
-- Data for Name: saved_chats; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.saved_chats (chat_id, username, bot_id, conversation_id, role, message, message_order, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Name: assignment_reviews_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.assignment_reviews_review_id_seq', 1, false);


--
-- Name: briefs_brief_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.briefs_brief_id_seq', 4, true);


--
-- Name: calendar_entries_entry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.calendar_entries_entry_id_seq', 1, false);


--
-- Name: calendar_plans_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.calendar_plans_plan_id_seq', 1, false);


--
-- Name: calendar_progress_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.calendar_progress_progress_id_seq', 1, false);


--
-- Name: criteria_grade_bands_band_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.criteria_grade_bands_band_id_seq', 1, false);


--
-- Name: marking_criteria_criteria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.marking_criteria_criteria_id_seq', 14, true);


--
-- Name: review_criteria_score_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.review_criteria_score_id_seq', 1, false);


--
-- Name: saved_chats_chat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.saved_chats_chat_id_seq', 1, false);


--
-- Name: assignment_reviews pk_assignmentreviews; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.assignment_reviews
    ADD CONSTRAINT pk_assignmentreviews PRIMARY KEY (review_id);


--
-- Name: criteria_grade_bands pk_bands; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.criteria_grade_bands
    ADD CONSTRAINT pk_bands PRIMARY KEY (band_id);


--
-- Name: briefs pk_briefs; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.briefs
    ADD CONSTRAINT pk_briefs PRIMARY KEY (brief_id);


--
-- Name: calendar_entries pk_calendarentries; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_entries
    ADD CONSTRAINT pk_calendarentries PRIMARY KEY (entry_id);


--
-- Name: calendar_plans pk_calendarplans; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_plans
    ADD CONSTRAINT pk_calendarplans PRIMARY KEY (plan_id);


--
-- Name: calendar_progress pk_calendarprogress; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_progress
    ADD CONSTRAINT pk_calendarprogress PRIMARY KEY (progress_id);


--
-- Name: saved_chats pk_chats; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.saved_chats
    ADD CONSTRAINT pk_chats PRIMARY KEY (chat_id);


--
-- Name: marking_criteria pk_markingcriteria; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.marking_criteria
    ADD CONSTRAINT pk_markingcriteria PRIMARY KEY (criteria_id);


--
-- Name: review_criteria pk_reviewcriteria; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.review_criteria
    ADD CONSTRAINT pk_reviewcriteria PRIMARY KEY (score_id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (username);


--
-- Name: assignment_reviews fk_ar_briefs; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.assignment_reviews
    ADD CONSTRAINT fk_ar_briefs FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: assignment_reviews fk_ar_users; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.assignment_reviews
    ADD CONSTRAINT fk_ar_users FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: briefs fk_b_users; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.briefs
    ADD CONSTRAINT fk_b_users FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: criteria_grade_bands fk_bands_criteria; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.criteria_grade_bands
    ADD CONSTRAINT fk_bands_criteria FOREIGN KEY (criteria_id) REFERENCES public.marking_criteria(criteria_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: calendar_entries fk_ce_plan; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_entries
    ADD CONSTRAINT fk_ce_plan FOREIGN KEY (plan_id) REFERENCES public.calendar_plans(plan_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: calendar_plans fk_cp_brief; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_plans
    ADD CONSTRAINT fk_cp_brief FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: calendar_plans fk_cp_review; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_plans
    ADD CONSTRAINT fk_cp_review FOREIGN KEY (review_id) REFERENCES public.assignment_reviews(review_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: calendar_plans fk_cp_users; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_plans
    ADD CONSTRAINT fk_cp_users FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: calendar_progress fk_cpr_entry; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_progress
    ADD CONSTRAINT fk_cpr_entry FOREIGN KEY (entry_id) REFERENCES public.calendar_entries(entry_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: calendar_progress fk_cpr_users; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.calendar_progress
    ADD CONSTRAINT fk_cpr_users FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: marking_criteria fk_mc_briefs; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.marking_criteria
    ADD CONSTRAINT fk_mc_briefs FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: review_criteria fk_rc_markingcriteria; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.review_criteria
    ADD CONSTRAINT fk_rc_markingcriteria FOREIGN KEY (criteria_id) REFERENCES public.marking_criteria(criteria_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: review_criteria fk_rc_reviews; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.review_criteria
    ADD CONSTRAINT fk_rc_reviews FOREIGN KEY (review_id) REFERENCES public.assignment_reviews(review_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: saved_chats fk_s_users; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.saved_chats
    ADD CONSTRAINT fk_s_users FOREIGN KEY (username) REFERENCES public.users(username) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 6iKs0Wn0Z5rx3agWQ9asfKqwNRbU2oHgwSNwxkEijokULhoJ7b6ZfdIeDh5xJyF

